@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/real-miami');

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: white;
}

/* shared styles */

.container {
  width: 80%;
  margin: 0 auto;
}

.bg-color {
  background-color: rgb(18, 17, 19);
}

/* header section */

.header-container {
  max-width: 1440px;
  background-color: rgb(19, 17, 17);
}

.nav-section {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: rgb(230, 83, 60);
  font-size: 2.2rem;
  font-weight: 800;
}

.nav-item-list {
  display: flex;
  align-items: center;
  gap: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 0.5rem;
}



.nav-item-list li {
  list-style: none;
}

.nav-item-list a {
  text-decoration: none;
}

.high-light {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
}

.menu-icon {
  display: none;
}

/* hero section styles */


.hero-section {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 2rem;
  position: relative;
}

.header-content {
  width: 50%;
  margin-top: 40px;
}

.header-image-section {
  width: 50%;
  text-align: center;
}

.header-title {
  font-size: 4.5rem;
  font-weight: 900;
}

.style {
  font-family: 'Real Miami', sans-serif;
  font-size: 4.5rem;
  font-weight: normal;
}

.header-description {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.btn-container {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;

}

.btn-primary {
  padding: 16px 60px;
  border-radius: 2.8rem;
  background: rgb(230, 83, 60);
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.btn-download {
  padding: 16px 60px;
  border-radius: 2.8rem;
  border: 1px solid rgb(255, 255, 255);
  background: transparent;
  cursor: pointer;
}


.header-image-section img {
  height: 450px;
}

.tutorials {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 1rem;
  position: absolute;
  top: 90px;
  right: 90px;
  border-radius: 1rem;
}

.tutorials h3 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
}

.tutorials p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1rem;
  font-weight: 400;
}

.video-tutorials {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 1rem;
  position: absolute;
  border-radius: 1rem;
  top: 330px;
  right: 330px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.red-dot {
  height: 35px;
  width: 35px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}

.video-tutorials h3 {
  color: rgb(250, 250, 249);
  font-size: 1.4rem;
  font-weight: 900;
}

.video-tutorials p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;

}


/* habits section start */

.habits-container {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(19, 17, 17);
}

.habit-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  padding-top: 70px;
}

.habit-description {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.habit-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.habit-img img {
  margin-left: 15px;
  border-radius: 50%;
}

.habit-img h5 {
  margin-top: 8px;
  font-size: 1.1rem;
  text-align: center;
}

.habit-img p {
  margin-top: 8px;
  font-size: 0.9rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}


/* run section styles */

.run-section {
  margin-top: 1rem;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin-bottom: 3rem;
}

.run-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 3rem;
  gap: 4rem;
}

.run-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.run-content h1 {
  font-size: 3rem;
  font-weight: 900;
}

.run-content p {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
}

.run-content button {
  margin-top: 1rem;
  width: 50%;
  font-size: 1rem;
  font-weight: 600;
}

.run-image {
  width: 50%;
}

.run-image img {
  width: 100%;
  border-radius: 1rem;
}


/* trainings section styles */

.training-section {
  height: 90vh;
}

.training-section h1 {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 900;
}

.training-section p {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
  width: 60%;
}

.trainings {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}



.lorem img {
  width: 100%;
}


/* calculator section styles */

.calculator-container {
  width: 100%;
  background: rgb(34, 34, 34);
  display: flex;
  gap: 4rem;
}

.calculator-content h1 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 900;
  margin-left: 400px;
}

.calculator-content p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
  margin-left: 400px;
  width: 50%;
}

.calculate-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 10rem;
}

.calculate-table {
  margin-top: 3.6rem;
  padding-left: 1rem;
  margin-bottom: 3rem;
}

.calculate-table h2 {
  font-size: 1.8rem;
  font-weight: 900;
}



.calculate-table table,
th,
td {
  margin-top: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 0.7rem 1.6rem;
  text-align: left;
}

.calculate-table td {
  color: rgba(255, 255, 255, 0.5);
}


.calculate-content h2 {
  margin-top: 3.6rem;
  font-size: 1.8rem;
  font-weight: 900;
}

.calculate-content p {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
}



.calculator-form {
  margin-top: 2rem;
}

form input,
select,
option {
  padding: 12px 40px 12px 20px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

#submit-btn {
  margin-top: 1.5rem;
}


/* team section styles start */

.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.team-section h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
}

.team-section p {
  color: rgba(255, 255, 255, 0.5);
  margin: auto;
  line-height: 24px;
  margin-top: 1rem;
  text-align: center;
  width: 85%;
  margin-bottom: 1rem;
}


.team-img-container {
  margin-top: 1rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 1.4rem;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.team-img {
  width: 326.67px;
  height: 272px;
  border-radius: 1rem;
}

#first-img {
  background: rgba(0, 0, 0, 0.2) url(../images/trainer1.png);
  background-size: cover;
  background-blend-mode: overlay;
}

#second-img {
  background: rgba(0, 0, 0, 0.2) url(../images/trainer2.png);
  background-size: cover;
  background-blend-mode: overlay;
}

#third-img {
  background: rgba(0, 0, 0, 0.2) url(../images/trainer3.png);
  background-size: cover;
  background-blend-mode: overlay;
}

#fourth-img {
  background: rgba(0, 0, 0, 0.2) url(../images/trainer4.png);
  background-size: cover;
  background-blend-mode: overlay;
}

#fifth-img {
  background: rgba(0, 0, 0, 0.2) url(../images/trainer5.png);
  background-size: cover;
  background-blend-mode: overlay;
}

#sixth-img {
  background: rgba(0, 0, 0, 0.2) url(../images/trainer6.png);
  background-size: cover;
  background-blend-mode: overlay;
}

.team-img h3 {
  margin-top: 12rem;
  padding-left: 1.5rem;
}


.team-img p {
  margin-top: 0.3rem;
  text-align: left;
}


/* footer section style */

.footer-section {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  
}

.footer-content {
  display: flex;
  gap: 4rem;
}


.first-col, .second-col, .third-col {
  margin-top: 5rem;
  width: 33%;
}


.first-col h1 {
  font-size: 4rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
}

.first-col p {
  margin-top: 0.6rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
}

.second-col h3, .third-col h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.second-col p, .third-col p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}


/* mobile responsive */
@media screen and (max-width: 576px) {

  /* nav responsive */
  .nav-item-list {
    display: none;
  }

  .menu-icon {
    color: white;
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }


  /* hero section */
  .hero-section {
    width: 90%;
    flex-direction: column;
  }

  .header-title {
    font-size: 2.7rem;
    text-align: left;
  }

  .style {
    font-size: 2.7rem;
  }

  .header-description {
    width: 150%;
    line-height: 1.8rem;
    letter-spacing: 0.6px;
  }

  .btn-container {
    text-align: center;
    width: 200%;
    display: flex;
  }

  .tutorials {
    top: 600px;
    right: 20px;
  }

  .video-tutorials {
    top: 850px;
    right: 200px;
  }

  .header-image-section img {
    margin-left: 60px;
    width: 150%;
  }

  /* habit section responsive */

  .habit-title {
    margin-top: -55px;
    font-size: 2rem;
  }

  .habit-description {
    width: 80%;
    text-align: center;
  }


  .habit-img-container {
    width: 100%;
    flex-direction: column;
  }

  .habit-img-container {
    text-align: center;
  }

  .habit-img-container p {
    margin: 0 auto;
    margin-top: 10px;
    width: 60%;
  }

  /* run section style */


  .run-section {
    width: 90%;
  }

  .run-container {
    padding: 2rem;
    margin-top: 61rem;
    flex-direction: column;
  }

  .run-content h1 {
    width: 200%;
  }

  .run-content p {
    width: 220%;
  }

  .run-content button {
    width: 180%;
  }

  .run-image {
    margin-top: -2.5rem;
  }

  .run-image img {
    width: 200%;
  }

  /* trainings section styles */

  .training-section p {
    width: 90%;
  }


  /* calculatar section */




  /* team section start */

  .team-section h1 {
    font-size: 2rem;
  }

  .team-section p {
    margin-top: 0.6rem;
    width: 90%;
  }


  .team-img-container {
    width: 90%;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .team-img h3 {
    padding-left: 1.2rem;
  }




  /* footer section  */

  .footer-content {
    flex-direction: column;
  }


  .first-col, .second-col, .third-col {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }


  .second-col p, .third-col p {
    width: 180%;
  }



}